{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('datatables/datatables.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.min.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ asset('datatables/datatables.js') }}"></script>
    <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
{% endblock %}

{% block body %}
    Witaj w panelu admina
    <table id="example" class="display" style="width:85%">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Image picture</th>
                <th>Text</th>
                <th>Time</th>
                <th>DELETE</th>
                <th>EDIT</th>
            </tr>
        </thead>
    </table>

    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                initComplete: function(){
                    var api = this.api();
                    $('#example_filter input')
                        .off('.DT')
                        .on('keyup.DT', function (e) {
                            if (e.keyCode == 13) {
                                api.search(this.value).draw();
                            }
                        });
                },
                "processing": true,
                "serverSide": true,
                "language": {
                    "url": "{{ asset('datatables/polish.json') }}"
                },
                "ajax": {
                    url: '{{ path('admin_commentsgrid') }}',
                    type: 'POST'
                },
                "columnDefs": [
                    { "orderable": false, "targets": [2, 5, 6] }
                ]
            });

        } );
    </script>

{% endblock %}


