{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('datatables/datatables.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ asset('datatables/datatables.js') }}"></script>
{% endblock %}

{% block body %}
Witaj w panelu admina
    <table id="mTable" class="display" style="width:85%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>E-mail</th>
                <th>Role</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for user in userEntity %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role.name }}</td>
                <td>
                    <div class="deleteUser">
                        <a href="{{ path('admin_users_delete', {'id': user.id}) }}">DELETE</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready( function () {
            $('#mTable').DataTable();
        } );
    </script>

    <script>

        $(document).ready(function() {
            $('div.deleteUser a').click(function(e){
                e.preventDefault()
                url = $(this).attr('href');
                $.confirm({
                    title: 'Ostrzeżenie!',
                    content: 'Czy na pewno chcesz usunąć tego użytkownika?',
                    boxWidth: '10%',
                    useBootstrap: false,
                    buttons: {
                        tak: function () {
                            window.location.href = url;
                        },
                        anuluj: function () {
                        }
                    }
                });

            })

        })

    </script>

{% endblock %}


