{% extends "base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {% include "baseImage.html.twig" %}
{% endblock %}

{% block bot %}
    {% if nextNumber < pagesNumber %}
        <div class="next">
            <a href="/tag/{{ tag }}/{{ nextNumber }}">Next</a>
        </div>
    {% endif %}

    {% if previousNumber > 0 %}
        <div class="next">
            <a href="/tag/{{ tag }}/{{ previousNumber }}">Previous</a>
        </div>
    {% elseif previousNumber == 0 %}
        <div class="next">
            <a href="/tag/{{ tag }}">Previous</a>
        </div>
    {% endif %}

{% endblock %}
