{% extends "base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <div class="addImageBlock">

        {{ form_start(form) }}

            <div>
                {{ form_label(form.picture) }}
                {{ form_widget(form.picture) }}
                {{ form_errors(form.picture) }}
            </div>

            <div>
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>

            <div>
                {{ form_label(form.tags) }}
                {{ form_widget(form.tags) }}
                {{ form_errors(form.tags) }}
            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
